<h1> Top Billboard Charts  </h1>
<table>
  <thead>
     <th>Chart Name</th>
  </thead>
   <tbody>
      <% @billboards.each do |billboard| %>
        <tr>

          <td> <%= billboard.chart_name %> </td>
          <td> <%= link_to 'Show', billboard_path(billboard) %> </td>

       </tr>
        <% end %>
   </tbody>
</table>

<br />
  <%= link_to 'Create New Chart', new_billboard_path %>
